@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.custom-radio-order {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.bg-white-texture {
  background-image: url("/whitetexture.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@font-face {
  font-family: "Heading Pro Trial Extra Light";
  src: url("./fonts/Heading-Pro-ExtraLight-trial.ttf") format("truetype");
}

@font-face {
  font-family: "Heading Pro Trial Light";
  src: url("./fonts/Heading-Pro-Light-trial.ttf") format("truetype");
}

@font-face {
  font-family: "Heading Pro Trial";
  src: url("./fonts/Heading-Pro-Book-trial.ttf") format("truetype");
}

@font-face {
  font-family: "Heading Pro Trial Thin";
  src: url("./fonts/Heading-Pro-Thin-trial.ttf") format("truetype");
}

@font-face {
  font-family: "Heading Pro Trial Bold";
  src: url("./fonts/Heading-Pro-Bold-trial.ttf") format("truetype");
}

@font-face {
  font-family: "Heading Pro Trial Extra Bold";
  src: url("./fonts/Heading-Pro-ExtraBold-trial.ttf");
}

@font-face {
  font-family: "Heading Pro Trial Heavy";
  src: url("./fonts/Heading-Pro-Heavy-trial.ttf");
}
